<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.whyalwaysmea.stickview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BActivity">
            <intent-filter>
                <action android:name="com.test"/>
                <action android:name="sdlkjflskdjf.sdlkfjsdlkf"/>

                <category android:name="com.abc.d"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="sdf"
                    android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND.a"/>

                <category android:name="com.abc.d"/>
            </intent-filter>
        </activity>
        <activity android:name=".CActivity">
        </activity>
        <activity android:name=".DActivity">
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>